@using SampleCRM.Models.ViewModels

@model IEnumerable<UserRoleViewModel>

@{
    ViewData["Title"] = "ユーザー一覧";
}

<h1>ユーザー一覧</h1>

<p>
    <a asp-action="Create">ユーザー追加</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a asp-action="ChangePassword" asp-route-id="@item.UserCode">パスワード変更</a> |
                    <a asp-action="Edit" asp-route-id="@item.UserCode">編集</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserCode">削除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
