@model SampleCRM.Models.ViewModels.SalesEmployee

@{
    ViewData["Title"] = "営業担当者削除";
}

<h1>営業担当者削除</h1>
<b>この営業担当者を削除しますか？</b>
<div>※注意：担当中の顧客がある場合は、先にそちらを削除または担当者の変更をして下さい。</div>
<div>　　　　また、削除後は復旧できません。</div>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneticName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneticName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CellPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CellPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SNS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SNS)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmployeeCode" />
        <input type="submit" value="削除" class="btn btn-danger" /> |
        <a asp-controller="SalesDepartment" asp-action="Details" asp-route-id="@Model.DepartmentCode">営業会社詳細(部署一覧)へ戻る</a>
    </form>
</div>
