@model SampleCRM.Models.ViewModels.ClientDepartmentViewModel
@{
    ViewData["Title"] = "部署削除";
}

<h1>部署削除</h1>
<br />
<b>この部署を削除しますか？</b>
<div>※注意：ライセンス情報を登録している場合は、先にそちらを削除してください。</div>
<div>　　　　また、削除後は復旧できません。</div>
<div>
    <hr />
    <dl class="row">
        <!-- 会社情報 -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-10">
            <ruby>
                @Html.DisplayFor(model => model.CompanyName)
                <rt>@Html.DisplayFor(model => model.CompanyPhoneticName)</rt>
            </ruby>
        </dd>

        <!-- 部署情報 -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd class="col-sm-10">
            <ruby>
                @Html.DisplayFor(model => model.DepartmentName)
                <rt>@Html.DisplayFor(model => model.DepartmentPhoneticName)</rt>
            </ruby>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsMainDepartment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsMainDepartment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentPostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentPostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentTelNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentTelNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentFaxNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentFaxNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentEmail)
        </dd>

        <!-- 担当者情報 -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class="col-sm-10">
            <ruby>
                @Html.DisplayFor(model => model.EmployeeName)
                <rt>@Html.DisplayFor(model => model.EmployeePhoneticName)</rt>
            </ruby>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePosition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeePosition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeTelNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeTelNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeSNS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeSNS)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="DepartmentCode" />
        <input type="submit" value="削除" class="btn btn-danger" /> |
        <a asp-controller="ClientCompany" asp-action="Details" asp-route-id="@Model?.CompanyCode">契約会社一覧へ</a>
    </form>
</div>
